@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foregroundText: #333333;
  --links: #07488f;
  --hoverLinks: #3997d6;
  --mainHeadingsColor: #1a1a1a;
  --lowerHeadingsColour: #003366;
  --buttons: #ff7f50;
}
html {
  scroll-behavior: smooth;
}
